<div class="container" *ngIf="hidden" style="max-width:600px">
  <form class="student-form" #studentForm="ngForm">

    <div class="form-group">
      <label for="bio">Fill in Information About Yourself</label>
      <div class="row">

        <div class="col-xs-4 col-sm-4 form-fields form-group">
          <p>Age<span class="required">*</span></p>
          <select class="form-control" id="Age" [(ngModel)]="model.Age" name="Age" required="true" #Age="ngModel">
          <option *ngFor="let list of studentData.Age.data" [value]=list  selected  
          >{{list}}</option>
        
        </select>
        </div>

        <div class="col-xs-4 col-sm-4 form-fields form-group">
          <p>Gender<span class="required">*</span></p>
          <select class="form-control" id="Gender" [(ngModel)]="model.Gender" name="Gender" required="true" #Gender="ngModel">
          <option *ngFor="let list of studentData.Gender.data" [value]=list       
          >{{list}}</option>
        
        </select>
        </div>

        <div class="col-xs-4 col-sm-4 form-fields form-group">
          <p>Religion<span class="required">*</span></p>
          <select class="form-control" id="Religion" [(ngModel)]="model.Religion" name="Religion" required="true" #Religion="ngModel">
          <option *ngFor="let list of studentData.Religion.data" [value]=list       
          >{{list}}</option>
        
        </select>
        </div>


        <div class="col-xs-4 col-sm-6 form-fields form-group">
          <p>City<span class="required">*</span></p>
          <select class="form-control" id="City" [(ngModel)]="model.City" name="City" required="true" #City="ngModel">
          <option *ngFor="let list of studentData.City.data" [value]=list       
          >{{list}}</option>
        
        </select>
        </div>
        <div class="col-xs-4 col-sm-6 form-fields form-group">
          <p>Ethnicity<span class="required">*</span></p>
          <select class="form-control" id="Ethnicity" [(ngModel)]="model.Ethnicity" required="true" name="Ethnicity" #Ethnicity="ngModel">
          <option *ngFor="let list of studentData.Ethnicity.data" [value]=list  selected   
          >{{list}}</option>
        
        </select>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-6 form-fields form-group">
          <p>Industry<span class="required">*</span></p>
          <select class="form-control" id="Industry" [(ngModel)]="model.Industry" name="Industry" required="true" #Industry="ngModel">
          <option *ngFor="let list of studentData.Industry.data" [value]=list       
          >{{list}}</option>
        
        </select>
        </div>

        <div class="col-xs-4 col-sm-6 form-fields form-group">
          <p>Interests<span class="required">*</span></p>
          <select class="form-control" id="Interests" [(ngModel)]="model.Interests" name="Interests" required="true" #Interests="ngModel">
          <option *ngFor="let list of studentData.Interests.data" [value]=list       
          >{{list}}</option>
        
        </select>
        </div>




      </div>
      <div class="row">

        <div class="col-xs-4 col-sm-6 form-fields form-group">
          <p>GPA<span class="required">*</span></p>
          <select class="form-control" id="GPA" [(ngModel)]="model.GPA" name="GPA" required="true" #GPA="ngModel">
          <option *ngFor="let list of studentData.GPA.data" [value]=list       
          >{{list}}</option>
        
        </select>
        </div>

        <div class="col-xs-4 col-sm-6 form-fields form-group form-group">
          <p>Major<span class="required">*</span></p>
          <select class="form-control" id="Major" [(ngModel)]="model.Major" name="Major" required="true" #Major="ngModel">
          <option *ngFor="let list of studentData.Major.data" [value]=list       
          >{{list}}</option>
        
        </select>
        </div>

      </div>
    </div>



    <!-- <div class="form-group">
      <label for="bio">Fill in Information About Yourself</label>
      <div class="row">
        
        <div class="col-xs-4 col-sm-6" *ngFor="let item of studentData.bio">
          <p>{{item.type}}</p>
          <select class="form-control" id="{{item.type}}">
          <option *ngFor="let list of item.data" [value]=list       
          >{{list}}</option>
        
        </select>
        </div>
      </div>
    </div>  -->

    <!-- <div class="form-group">
      <label for="interests">Interests</label>
      <div *ngFor="let item of studentData.interests">
        <p style="text-align:left;"><b>{{item.type}}</b></p>
        <ul style="list-style: none; text-align:left;">
          <li *ngFor="let list of item.data">
            <input type="radio" name="radio-{{item.type}}" value="{{list}}"> {{list}}<br>
          </li>
        </ul>
      </div>
    </div> -->

    <!--<div class="form-group">
      <label for="ratings">Ratings</label>
      <div *ngFor="let item of worldData">
        <h4 style="text-align:left;"><b>{{item.type}}</b></h4>
        <ul style="list-style: none; text-align:left;">
          <li *ngFor="let category of item.data">
            <h5><b>{{category.type}}</b></h5>
            <div class="row" style="margin-bottom:10px;" *ngFor="let location of category.data">
              <div class="col-xs-6" style="text-align:right;">{{location}}</div>
              <div class="col-xs-6">
                  <div class="btn-group">
                  <button type="button" class="btn btn-primary">NA</button>
                  <button type="button" class="btn btn-primary">1</button>
                  <button type="button" class="btn btn-primary">2</button>
                  <button type="button" class="btn btn-primary">3</button>
                  <button type="button" class="btn btn-primary">4</button>
                  <button type="button" class="btn btn-primary">5</button>
                </div> 
                <input type="radio" name="radio-{{location}}" value="NA">NA<br>
                <input type="radio" name="radio-{{location}}" value="1">1<br>
                <input type="radio" name="radio-{{location}}" value="2">2<br>
                <input type="radio" name="radio-{{location}}" value="3">3<br>
                <input type="radio" name="radio-{{location}}" value="4">4<br>
                <input type="radio" name="radio-{{location}}" value="5">5<br>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>-->



    <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!studentForm.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="newStudent()">Refresh</button>
    <button type="button" class="btn btn-default" (click)="sampleStudent()">Sample</button>
  </form>
</div>

<div [hidden]="!submitted" class="container" style="max-width:600px; margin-top:20px; padding:20px; background-color:#e8e8e8;">
  <h4 style="margin-bottom:20px;">We Recommend:</h4>

  <!--<li>{{resultData | json}}</li> -->
  <div class="row">
    <div class="img-thumbnail col-xs-6" *ngFor="let item of resultData">

      <div class="card-block">
        <h4 class="card-title">{{item.name}}</h4>
        <p class="card-text">{{item.description}}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>

  </div>
</div>